header {
  position: sticky;
  top: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  justify-content: space-between;
}

header a.logo {
  display: block;
}

header a.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header a {
  text-decoration: none;
}

header nav {
  text-align: right;
}

header nav a {
  display: inline-block;
  padding: 5px 15px;
}

header nav a:hover {
  text-decoration: underline;
}
