* {
  box-sizing: border-box;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 1rem);

  --font-body: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-mono: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
    'Courier New', Courier, monospace;

  color-scheme: light;
  --theme-accent: #006ce9;
  --theme-text: #181818;
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);
  line-height: 1.5;
  max-width: 100vw;
  background: var(--theme-bg);
  color: var(--theme-text);
  background-color: #eaedf1;
}

main {
  padding: 0 20px;
  margin: 0 auto;
  height: calc(100vh - 120px - 80px);
}

a {
  color: #474f5e;
}

a:hover {
  text-decoration: none;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

code {
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.9em;
  border-bottom: 2px solid #bfbfbf;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
  margin: 0;
}

.triangle-down {
  position: relative;
  top: -5px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 0.2em solid #b8becc;
  border-top: 0.2em solid #b8becc;
  transform: rotate(135deg);
}
.triangle-up {
  position: relative;
  top: -5px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 0.2em solid #b8becc;
  border-top: 0.2em solid #b8becc;
  transform: rotate(-45deg);
}
